<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASSWORD GENERATOR</title>
    <!-- VUEJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="wrapper d-flex justify-content-center align-items-center">
            <div class="ms_container d-flex-column">


                <div class="text-white title text-center">
                    <h1 class="py-2">Strong Generator Password</h1>
                    <h2 class="py-2">Generatore di password</h2>
                </div>


                <div :class="{ 'hidden' : valido} " class="hide rounded d-flex">
                    <h4 class="align-self-center">Input non valido, assicurati di inserire solo un valore numerico tra 4 e 14, scegli anche la tipologia</h4>
                </div>


                <div class="main mt-4 rounded py-4 d-flex justify-content-start">
                    <div class="left d-flex flex-column">
                        <div class="lunghezza-password">
                            <label for="size">Inserisci la lunghezza password desiderata(min 4 max 14):</label>
                            <input v-model="lunghezzaPassword" class="rounded mx-3" type="text" name="" id="size">
                        </div>
                        <p class="mt-4">Consenti ripetizioni di uno o più caratteri:</p>
                        <p>Clicca cosa vuoi includere nella password:</p>
                        <div class="btnn ">
                            <button @click="generaPassword" type="button" class="btn btn-primary align-self">Invia</button>
                            <button @click="reset" type="button" class="btn mx-3 btn-secondary align-self">Annulla</button>
                        </div>
                    </div>
                    <div class="right d-flex-column">
                        <p for="">La password è :</p>
                        <p class="result rounded">{{passwordGenerata}}</p>
                        <div class="choise d-flex flex-column justify-content-between">
                            <div class="ripetizioni d-flex flex-column">
                                <div class="yes">
                                <label for="yes">Si</label>
                                <input @click="click" v-model="sino" type="radio" style="margin-left: 13px;" name="scelta" id="yes" value='true'>
                                </div>
                                <!--entrambi gli input avranno lo stesso nome "ripetizioni", ma valori diversi: "si" per il primo input e "no" per il secondo input.
                                 in questo modo, quando uno dei due radio button viene selezionato, l'altro diventa automaticamente deselezionato.-->
                                <div class="no">
                                    <label for="no">No</label>
                                    <input @click="click" v-model="sino" type="radio" style="margin-left: 5px;" name="scelta" id="no" value='false'>
                                </div>
                            </div>
                              
                            <div class="typing">
                                <label for="words">Lettere</label> <input @click="click" :checked="isChecked" v-model="lettere" type="checkbox" id="words"> <br>
                                <label for="numbers">Numeri</label> <input @click="click" :checked="isChecked" v-model="numeri" type="checkbox" id="numbers"> <br>
                                <label for="symbols">Simboli</label> <input @click="click" :checked="isChecked" v-model="simboli" type="checkbox" id="symbols">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>